@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine a-ți venit... rău aț-i minerit!!!</h1>
    <hr />
    <h2>Dale noastre</h2>
    <ul class="list-unstyled fs-5 text-start">
        <li>Faci ca ăla</li>
        <li>Gura bate curu</li>
        <li>Orișicât</li>
        <li>Vă căcați în tufișuri până să vin eu</li>
        <li>Stați la clasă și dați din gură</li>
        <li>Cineva mai trebuie să și muncească</li>
        <li>Păi ce facem aici? Scoatem, băgăm... Depinde de frecvență</li>
        <li>Băă, tu când vii parcă te duci!</li>
        <li>Noi suntem toți, obiectivele noastre sunt ale întregii instituții</li>
        <li>Emanăm prin pori activități specifice</li>
        <li>Deja mi-am format un tic verbal: să operaționalizăm mai bine pe această zonă de activitate</li>
        <li>Când nu ai nici una, nici alta, faci bici... the beach</li>
        <li>Veniți pe la mine, poate mai și-nvățăm</li>
        <li>Am dat cel mai idiot exemplu pe care putea să-l dea unul ca mine</li>
        <li>Finețea abordării va determina un resentiment în conștiința celor în cauză</li>
        <li>Mai ieșiți din zona de comfort</li>
        <li>Să gândim smart, out of the box</li>
        <li>Eu când mă opresc sunt oprit</li>
        <li>Taci mă din gură</li>
        <li>Nu poate ieși că avea mai mic atunci</li>
        <li>La unu... La cine?</li>
    </ul>
</div>
