@page
@model vCatalogRazor.Pages.clasa.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clasa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Clasa.Nume" class="form-label"></label>
                <input asp-for="Clasa.Nume" class="form-control" />
                <span asp-validation-for="Clasa.Nume" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Clasa.Descriere" class="form-label"></label>
                <input asp-for="Clasa.Descriere" class="form-control" />
                <span asp-validation-for="Clasa.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Clasa.IsDeleted" /> @Html.DisplayNameFor(model => model.Clasa.IsDeleted)
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="Clasa.PromotieId" class="form-label">Promoția</label>
                <select asp-for="Clasa.PromotieId" class ="form-control" asp-items="ViewBag.PromotieId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Clasa.ProfesorId" class="form-label">Diriginte</label>
                <select asp-for="Clasa.ProfesorId" class ="form-control" asp-items="ViewBag.ProfesorId"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Adaugă" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-info">Înapoi</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
